#menuContainer {
  width: 20vw;
  height: 100vh;
  background-color: var(--accent-gray);
  color: white;
  position: fixed;
  top: 0;
}

@media (max-width: 500px) {
  #menuContainer {
    display: none;
  }
}
