#headerContainer {
  width: 100vw;
  height: 10vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-gray);
  color: var(--main-font);
  display: none;
}

h1 {
  margin: 0;
}
#mainHeader {
  font-size: 8vh;
}

/* ! MOBILE STULES */

@media (max-width: 500px) {
  #headerContainer {
    display: flex;
  }

  #mainHeader {
    font-size: 5vh;
  }

  .menuBtn {
    display: block;
    position: absolute;
    left: 8vw;
  }
}
